<?xml version="1.0"?>

<configuration>
  
    <appSettings>
      <!--Hyperion-->
      <add key="ConnectionString" value="Data Source=HYPERION;Initial Catalog=cryptoeditor;Integrated Security=True" />
      <add key="MySqlConnectionString" value="Database=cryptoeditor;Data Source=localhost;User Id=root;Password=basbrun2" />
      <add key="DataBaseConnector" value="mysql"/>

      <add key="SmtpServer" value="smtp.ca.inter.net" />
      <add key="SmtpUserName" value="pchretien@ca.inter.net" />
      <add key="SmtpPassword" value="Yet2come" />
      <add key="SmtpSenderAddress" value="pchretien@ca.inter.net"/>
      <add key="SmtpBcc" value="support@cryptotools.com"/>

      <!--WebHost4Life.com-->
      <!--<add key="ConnectionString" value="server=sql389.mysite4now.com;database=cryptoeditor;user id=pchretien;pwd=basbrun2;" />
      <add key="MySqlConnectionString" value="Database=cryptoeditor;Data Source=mysql106.mysite4now.com;User Id=pchretien;Password=basbrun2" />
      <add key="DataBaseConnector" value="mysql"/>
      
      <add key="SmtpServer" value="mail.cryptoeditor.com" />
      <add key="SmtpUserName" value="support@cryptoeditor.com" />
      <add key="SmtpPassword" value="basbrun2" />
      <add key="SmtpSenderAddress" value="support@cryptoeditor.com"/>
      <add key="SmtpBcc" value="support@cryptotools.com"/>-->
      
    </appSettings>

  <connectionStrings/>

    <system.web>
        <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
        <compilation debug="true" />
        <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
        <authentication mode="Windows" />
        <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    </system.web>
</configuration>
